*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-145deg,#fff,#ffd6d6);
}
.form-container{
  background: #fff;
  width: 400px;
  height: 550px;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}
.signup, .login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.signup h2, .login h2{
  margin: 20px 0;
  font-weight: bolder;
  font-size: 30px;
  color: #555;
}
form{
  width: 100%;
  padding: 0 50px;
}
form input{
  width: 100%;
  padding: 12px 20px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  outline: none;
  margin-bottom: 25px;
}
form .signup-btn, .login-btn{
  color: #fff;
  background: rgb(87, 212, 206);
  width: 50%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
form .signup-btn:hover, .login-btn:hover{
  background: #120E43;
  transition: all 0.7s ease;
}
.signup h3 , .login h3{
  margin-top: 20px;
  color: #555;
}
.signup a , .login a{
  text-decoration: none;
  color: rgb(87, 183, 212);
  font-weight: bolder;
  font-size: 25px;
}
a:hover{
  color: #1d75c7;
  transition: 0.5s ease;
}
/* --------- login or page --------- */
.or{
  margin-top: 30px;
  width: 70%;
}
.or p{
  margin: -8px auto 0;
  background: #fff;
  width: 30px;
  text-align: center;
}
.icons{
  text-align: center;
  margin: 15px;
}
.icons i{
  width: 40px;
  height: 40px;
  margin: 0 20px 0;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}
.icons i:hover{
  background: #101b4e;
  color: #fff;
}
